<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="height:100%">


    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="../">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
    </a>
  
    <hr class="sidebar-divider my-0">
  
    <hr class="sidebar-divider">
    <li class="nav-item">
      <a class="nav-link">
        <i class="fas fa-fw fa-chart-area"></i>
        <span> Employees </span></a>
    </li>
    <hr class="sidebar-divider">  
  
    <li class="nav-item">
      <a class="nav-link">
        <i class="fas fa-fw fa-table"></i>
        <span> Vendors </span></a>
    </li>
    <hr class="sidebar-divider"> 
  
    <li class="nav-item">
      <a class="nav-link">
        <i class="fas fa-fw fa-table"></i>
        <span> Reports </span></a>
    </li>
    <hr class="sidebar-divider"> 
  
    <li class="nav-item">
      <a class="nav-link">
        <i class="fas fa-fw fa-table"></i>
        <span> Skill Set </span></a>
    </li>
    <hr class="sidebar-divider">
  
    <li class="nav-item">
      <a class="nav-link">
        <i class="fas fa-fw fa-table"></i>
        <span> Recruiter </span></a>
    </li>
    <hr class="sidebar-divider">
  
    <li class="nav-item">
      <a class="nav-link">
        <i class="fas fa-fw fa-table"></i>
        <span> Invoice Generation </span></a>
    </li>
    <hr class="sidebar-divider d-none d-md-block">
  
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle" (click)="toggleSideBar()"></button>
    </div>
  
  </ul>